In [4]:
import pandas as pd

Task2

In [17]:
data_path = ['./data/daily_sales_data_0.csv', './data/daily_sales_data_1.csv', './data/daily_sales_data_2.csv']
# Load and process each file
dfs = []  # To hold data from each file
for file_path in data_path:
    # Load the CSV file
    df = pd.read_csv(file_path)
    
    # Filter rows where product is 'Pink Morsels'
    df = df[df['product'] == 'pink morsel']
    df['price'] = df['price'].str.replace('$', '').astype(float)
    # Calculate 'sales' as 'quantity' * 'price' and drop unnecessary columns
    df['sales'] = df['quantity'] * df['price']
    df = df[['sales', 'date', 'region']]
    
    # Append the processed DataFrame to the list
    dfs.append(df)

# Combine all DataFrames into one
combined_df = pd.concat(dfs, ignore_index=True)

# Save the combined DataFrame to a new CSV file
combined_df.to_csv('combined_sales_data.csv', index=False)

In [18]:
combined_df

       sales        date region
0     1638.0  2018-02-06  north
1     1647.0  2018-02-06  south
2     1731.0  2018-02-06   east
3     1557.0  2018-02-06   west
4     1587.0  2018-02-07  north
...      ...         ...    ...
5875  2390.0  2022-02-13   west
5876  2035.0  2022-02-14  north
5877  2465.0  2022-02-14  south
5878  2500.0  2022-02-14   east
5879  2115.0  2022-02-14   west

[5880 rows x 3 columns]